*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/gradle/gradle-daemon-jvm.properties
/Task
/.vscode/settings.json
app/release/app-release.aab
/.idea/deviceManager.xml
key.properties
